<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto |{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/mini-default.css">
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <header class="header">
        <p>Proyecto Botcamp VII</p>
   
    </header>
    {% if menu == 'index' %}
    <u>Inicio</u> | <a href="/purchase" class="btt">Compra</a> | <a href="/status">Status / Saldo</a>
    {% elif menu == 'purchase' %}
    <a href="/">Inicio</a> | <u>Compra</u> | <a href="/status">Status / Saldo</a>
    {% elif menu == 'status'%}
    <a href="/">Inicio</a> | <a href="/purchase">Compra</a> | <u>Status / Saldo</u>
    {% endif %}

    <section>
        {% block content %}{% endblock %}
    </section>
    <footer class="footer">
        &copy 2021 - Todos los derechos reservados
    </footer >
</body>
</html>