{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <h1 align="center"  class="titulo">[Movimientos]</h1>
    <table >
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Q.Inversion</th>
                <th>To</th>
                <th>Q.Unidad</th>
                <th>P.Unidad</th>
            </tr>
        </thead>
        {% if errorbd %}
            <h5 class="errorBD">{{ errorbd }}</h5>
        {% endif %}
        <tbody>
            {% if not registros %}
                <tr>
                    <td align="center" class="titulo"> Sin movimientos </td>
                </tr>
            {% else %}
                {% for campo in registros %}
                    <tr>
                        <td>
                            {{ campo[0]}}
                        </td>
                        <td>
                            {{ campo[1]}}
                        </td>
                        <td>{{ campo[2]}}
                        </td>
                        {% if campo[3] >= 1 %}
                        
                        <td>
                            {{ "{:,.2f}".format(campo[3])}}
                        </td>
                        
                        {% else %}
                        <td>
                            {{ "{:,.5f}".format(campo[3])}}
                        </td>
                        
                        {% endif %}
                        
                        <td>
                            {{ campo[4] }}
                        </td>
                        <td>
                            {{ "{:,.2f}".format(campo[5])}}
                        </td>
                        {% if campo[3]/campo[5] >= 1 %}
                        <td>
                            {{ "{:,.2f}".format(campo[3]/campo[5]) }} {{ campo[2] }}
                        </td>
                        
                        {% else %}
                        
                        <td>
                            {{ "{:.5f}".format(campo[3]/campo[5]) }} {{ campo[2] }}

                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
       
{% endblock %}