{% extends "base.html" %}

{% block title %} Compras - Crypto Converter {% endblock %}


{% block content %}
    <h1 align="center" class="titulo">[ COMPRA DE CRIPTO_MONEDAS ]</h1>
    <hr  width="100%" size="20" style="color: hsl(0, 0%, 0%);"/>
    

    <form action="/purchase" method="post">
        <p class="bloque">From:  
        {{ form.hidden_tag() }}
        {{ form.slct_from( style="width:200px") }}
    </p>  
        <p class="bloque">To:
        {{ form.slct_to( style="width:200px") }}
        Q: 
        {{ form.inputCantidad( style="width:150px", ) }}
 
         {{ form.submitCalcular()}}
    </p>
        <p>Q:</p> 
        <p>{{result}}</p>
        
        {% if data[0] >= 1 %}
            <p>
                {{ "{:,.2f}".format(data[0]) }} {{ data[2] }} 
            </p>
        {% else %}
            <p>
                {{ "{:,.5f}".format(data[0]) }} {{ data[2] }}
            </p>
        {% endif %}
            <p>P.U.:</p>
        {% if data[1] >= 1 %}
            <p>
                {{"{:,.2f}".format(data[1]) }} {{ data[2] }}
            </p>
        {% else %}
            <p>
                {{"{:,.5f}".format(data[1]) }} {{ data[2] }}
            </p>
        {% endif %}
        {% if validError %}
            <p class="errordb">
                {{ validError }}
            </p>
        {% endif %}
        {% if cryptoError %}
            <p class="errordb">
                {{ cryptoError }}
            </p>
        {% endif %}
        {% if cryptoIncompatible %}
            <p class="errordb">
                {{ cryptoIncompatible }} <br> {{ "Use Bitcoin para comprar Euros o el resto de monedas" }}
            </p>
        {% endif %}
        {% if alert %}
            <p>
                {{ alert }}
            </p>
        {% endif %}
        {% if errorAPI %}
            <p class="errordb">
                {{ errorAPI }}
            </p>
        {% endif %}
        {% if errorDB %}
            <p class="errordb">
                {{ errorDB }}
            </p>
        {% endif %}
        {% if sinSaldo %}
            <p class="errordb">
                {{ sinSaldo }}
            </p>
        {% endif %}

        {{ form.submitCompra()}}

        <a class="menu "href="/purchase " >Borrar |</a>
        <a class="menu "href="/" >Inicio</a>
    </form>
{% endblock %}